NODE_ENV="development"

NEXT_PUBLIC_BASE_URL=http://localhost:3000

## DatabaseConnection
MONGO_USER=
MONGO_PASSWORD=
MONGODB_URI="mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@cluster-stock-market.yvhaho8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster-stock-market"
## Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

## Gemini
GEMINI_API_KEY=

## NodeMailer
NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=

## Finnhub
FINNHUB_API_KEY=